<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body style="margin:0;">
    <div style="width: 100%; height: auto; background-color:rgb(236, 236, 236); display: flex; justify-content: center;">
        <div style="height: auto; background-color: white; width: 500px;">
            <div style="height: auto; display: flex; justify-content: center; margin-top: 30px;"> <!-- header -->
                 <img src="https://yirang-springboot-img.s3.ap-northeast-2.amazonaws.com/yirang-logo/greensignal.png" style="width: 30%; margin-left: 80px;" />
            </div>
            <div style="height: auto; margin: 50px;"> <!-- main -->
                <h2>회원의 탈퇴가 완료되었습니다.</h2>
                <br/>
                <span style="font-size: 13px;">
                            <span style="font-weight: bold;">박연후</span>님의 요청으로 탈퇴가 완료되었습니다.<br/>
                            <br/>
                            <span style="font-size: 10px; color: rgb(141, 141, 141)">이름</span><br/>
                            <span th:text="${userContent.getUsername()}"/><br/><br/>
                            <span style="font-size: 10px; color: rgb(141, 141, 141)">회원 등급</span><br/>
                            <span th:text="${userContent.getAuthority()}"/><br/><br/>
                            <span style="font-size: 10px; color: rgb(141, 141, 141)">성별</span><br/>
                            <span th:text="${userContent.getSex()}"/><br/><br/>
                            <span style="font-size: 10px; color: rgb(141, 141, 141)">연락처</span><br/>
                            <span th:text="${userContent.getPhoneNumber()}"/><br/><br/>
                            <span style="font-size: 10px; color: rgb(141, 141, 141)">이메일</span><br/>
                            <span th:text="${userContent.getEmail()}"/><br/><br/>
                            <span style="font-size: 10px; color: rgb(141, 141, 141)">탈퇴일시</span><br/>
                            <span th:text="${userContent.getDtow()}"/><br/><br/>
                            <span style="font-size: 10px; color: rgb(141, 141, 141)">영향을 받은 봉사</span><br/>
                            <table style="margin-top: 5px; text-align: center;font-size: 12px; border: 1px solid rgb(141, 141, 141); border-collapse: collapse;">
                                <thead style="border: 1px solid rgb(141, 141, 141); border-collapse: collapse;">
                                    <td style="width: 100px; border: 1px solid rgb(141, 141, 141); border-collapse: collapse;">날짜</td>
                                    <td style="width: 90px; border: 1px solid rgb(141, 141, 141); border-collapse: collapse;">장소</td>
                                    <td style="width: 90px; border: 1px solid rgb(141, 141, 141); border-collapse: collapse;">어르신 성함</td>
                                    <td style="width: 90px; border: 1px solid rgb(141, 141, 141); border-collapse: collapse;">어르신 전화번호</td>
                                </thead>
                                <tbody th:each="matching: ${matchingContents}">
                                    <td style="border: 1px solid rgb(141, 141, 141); border-collapse: collapse;" th:text="${matching.getDtov()}"></td>
                                    <td style="border: 1px solid rgb(141, 141, 141); border-collapse: collapse;" th:text="${matching.getRegion()}"></td>
                                    <td style="border: 1px solid rgb(141, 141, 141); border-collapse: collapse;" th:text="${matching.getSeniorName()}"></td>
                                    <td style="border: 1px solid rgb(141, 141, 141); border-collapse: collapse;" th:text="${matching.getPhoneNumber()}"></td>
                                </tbody>
                            </table>
                        </span>

            </div>
            <div style="font-size: 12px; background-color: #00b700; color: white; height: 80px; padding-top: 20px; padding-bottom: 20px;"> <!-- footer -->
                <div style="margin-left: 50px; margin-right: 50px;">
                    <span>(주) 이랑 컴퍼니</span><br/>
                    <span>대표 번호: 010-0000-0000</span><br/>
                    <span>회사 번호: 053) 000-0000</span><br/>
                    <span>회사 주소: 대구 동성로 중앙파출소 앞 파스쿠찌</span>
                </div>

            </div>
        </div>
    </div>

</body>

</html>